<Configuration status="warn" monitorInterval="5">
	<Properties>
		<Property name="log-path">./logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>[%-5level] %d{dd-MMM-yyyy@HH.mm.ss} %c{1} [%t] - %msg%n</pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="parser-log" fileName="${log-path}/parser.log"
			filePattern="${log-path}/parser-%d{yyyy-MM-dd}.%i.log">
			<PatternLayout>
				<pattern>[%-5level]%d{yy-MM-dd HH:mm:ss.SSS} %c{1} [%t] - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="50mb" />
			</Policies>
			<DefaultRolloverStrategy compressionLevel="0"
				max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.digitrinity" level="debug">
			<appender-ref ref="parser-log" level="debug" />
		</Logger>
		<Root level="debug">
			<appender-ref ref="Console" level="debug"/>
		</Root>
	</Loggers>
</Configuration>